github "SVProgressHUD/SVProgressHUD"
github "radex/SwiftyUserDefaults"
github "libgit2/objective-git"
# github "zahlz/SwiftPasscodeLock" "master"
github "yishilin14/SwiftPasscodeLock" "app-extension-support"
github "bitserf/FavIcon"
github "kishikawakatsumi/KeychainAccess"
github "mattrubin/OneTimePassword"
