github "SVProgressHUD/SVProgressHUD"
github "radex/SwiftyUserDefaults"
github "mssun/objective-git"
github "leonbreedt/FavIcon"
github "kishikawakatsumi/KeychainAccess"
github "mattrubin/OneTimePassword"
